/* 
h1
{
   font-size:100px;
   margin-bottom: 15px;

}


h3
{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 105px;

}


p,
li,
h1,
h3 {
    color: rgb(247, 249, 244);
    font-family: Arial, Helvetica, sans-serif;
} */




html{
    font-size: 33px;

    --primary_color: #f5f5f0;
    --secondary_color: #121212;
    --accent_color: #F34444;
    --menuText_color: #ffffff;
    --text_color: #F6F6F0;
    --blankingHeight: 100px ;
    --midGap: 15px;
    --smallGap:5px;
    --largeGap: 60px;
    --gridWidth: calc(100% - (var(--largeGap) * 2));
    /* if change boxshadow border size, change varialble bordersize too */
    --border: 3px solid var(--secondary_color);
    --borderSize: 3px   





    
}

*{
    margin: 0;
    padding: 0;
}




body {
 
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary_color);
  
    
}



h1{
    color: var(--secondary_color);
    display: flex;
    line-height: 1;
    font-weight: bolder;
    font-size: 2rem;
    transition: 0.25s ease;
    text-transform: uppercase;
    margin-top: var(--largeGap);
    
}


span{
    line-height: 1.3;
    display: flex;
    font-size: 23px;
}




.experienceIdentifier{
    display: none;
}


.whiteText{
    color: var(--primary_color);
}

.smallText{
    display: block;
  
    line-height: 1.2;
    font-size: 0.6rem;
    margin-right: 750px;
    margin-left: var(--largeGap);
    font-weight: 355;
    opacity: 75%;
    color: var(--primary_color);
}

.absText{
    font-size: 10rem;
    margin-bottom: -75px;
    color: var(--primary_color);
    letter-spacing: -25px;
    opacity: 25%;
    filter: blur(3px);
}


/*-- ------------------------ DETAIL ------------------------------------*/

.detailThin{
background-color: var(--primary_color);
height: calc(var(--midGap) * 1.5);
width: 100%;

}



.detailMed{
background-color: #F34444;
height: calc(var(--largeGap) * 2);
width: 100%;
background-image: linear-gradient(to top, #cecec7 , var(--primary_color) 25px, #cecec7);

}


.lineDetail{
background-color: var(--secondary_color);
height: calc(var(--borderSize) * 0.75);
align-self: center;
margin-left: var(--largeGap);
margin-right: var(--largeGap);
margin-bottom: var(--midGap);
margin-top: var(--midGap);
}




hr{
height: 2px;
color: #000000;
background-color: #000000;
border: 0;
font-size: 0;
margin-top: 30px;
margin-bottom: 30px;
}




/*------------------------TOP BAR----------------------------------*/

.TopBarSticky
{
    top: 0;
    position: sticky;
    display: flex;

    height: 75px;
    background-color: var(--primary_color);
    align-items: center;
    z-index: 4;
    box-shadow: 0px 5px 10px rgb(149, 149, 149);
}






.menuItemsContainer
{     
    display: flex;
    margin-left: var(--largeGap);



}



.menuItems
{   
    color: var(--secondary_color);
    text-transform: uppercase;
    margin-right: var(--smallGap);
    font-size: 0.3rem;
    display: flex;
    height: 35px;
    padding: 5px;
    align-items: center;
    transition: 0.25s ease;
    font-weight: 555;
    text-decoration: none;
}


.menuItems:hover{
    color: var(--accent_color);
    animation-duration: 3s;
}




/*----------------------ANIMATIONS---------------------------------*/

@keyframes initialText{
    0%{
    margin-right: 100vw;
    opacity: 0%;
    rotate: 15deg;
    }
    25%{
        margin-right: -50vw;

    }
    35%{
        rotate: 0deg;
        opacity: 100%;
        
    }
    45%{
        margin-left: -25vw;
    }
}

@keyframes fadeOut{
    25%{
    opacity: 50%;
    }
    50%{
    opacity: 25%;
    }
    70%{
    
    opacity:  0%;
    display: none;
    }
    100%{
    display: none;
    }
}


@keyframes borderOut {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }

  50% {
    transform: scaleY(2);
    border-color: #fff;
  }

  100% {
    transform: scaleY(4);
    opacity: 0;
  }
}


@keyframes imageFade {
  0% {
    transform: scaleY(1);

  }

  50% {
    transform: scaleY(2);
    border-color: #fff;
  }

  100% {
    transform: scaleY(4);
    opacity: 0;
  }
}

/*------------------------TITLE-A-PAGE----------------------------------*/

.title{
    color: var(--secondary_color);
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    font-weight: bolder;
    font-size: 2rem;
    transition: 1s ease;
    


}




.subtitle{
    color: var(--secondary_color);
    display: flex;
    justify-content: center;
    font-size: 0.5rem;
    text-transform: uppercase;
}


.aboutButton{

    display: flex;
    justify-content: center;
}



/*------------------------ABOUT-PAGE----------------------------------*/
.aboutContainer{
    margin-top: var(--largeGap);
    width: calc(var(--gridWidth) / 2.8);
    padding: var(--largeGap);
    justify-self: center;
    border: var(--border);
    border: 2px solid var(--primary_color);
    backdrop-filter: blur(10px);
}

.aboutContainer ::before{
    margin-top: var(--largeGap);
    width: calc(var(--gridWidth) / 2.5);
    background-color: white;
    height: 100%;
    justify-self: center;
}


.backgroundImage{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: -1;
    background-color: #000000;
    background-size: cover;
    background-position: center;
}

.backgroundImageShadow{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: -1;
    background-color: #000000;
    opacity: 55%   ;
}


/*------------------------EXPERIENCES----------------------------------*/




.experiencesList{
    display: flex;
    height: 500px;
    margin-left: var(--largeGap);
    margin-right: var(--largeGap);
}



.experiences li{
    display: flex;
    z-index: 1;
    height: 85px;
    width: 100%;
    align-items: center;
    border: var(--border);
    margin-bottom: var(--midGap);
    transition: 1s ease;

    
}

.experiences li::before{
    position: absolute;
    content: '';
    height: 85px;
    width: calc(100vw - (var(--largeGap) * 2) - 10px);
    border:  5px solid var(--accent_color);
    opacity: 0%;


    
}



.experiences li:hover{
    
  
    animation-duration: 3s;
    height: 100%;
  
}

.experiences li:hover::before{
    opacity: 100%;
    animation-duration: 0.75s;
    animation-name: borderOut;
    animation-fill-mode: forwards;

}


.pageImage{
    display: none;
    opacity: 0%;
    background-color: #06ff44;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}




.experiences{
    width: 100%

}



.experiencesTitle{
    margin-left: var(--midGap);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bolder;
    z-index: 1;
    color: var(--primary_color);

    
}




.experiencesContainer1{
        background-image: linear-gradient(to right, rgb(12, 12, 12) , transparent), url('../images/TheBustlingCity/24mm.jpg');
    background-position: center;
    background-size: cover;
    background-color:var(--primary_color);
}



.experiencesContainer2{
    background-image: linear-gradient(to right, rgb(12, 12, 12) , transparent), url('../images/UnderTheTree/10mm.jpg');
    background-position: center;
    background-size: cover;
    background-color:var(--primary_color);
}


.experiencesContainer3{
    background-image: linear-gradient(to right, rgb(12, 12, 12) , transparent), url('../images/Overworked/10mm.jpg');
    background-position: center;
    
    background-size: cover;
    background-color:var(--primary_color);
}














.experiencesContainer2{
    display: flex;

    height: 85px;
    width: 100%;
    align-items: center;
    /* background-image: url('../images/5mm.png'); */
    background-position: center;
    background-color:var(--secondary_color);
    box-shadow: var(--border);
}






.experiencesContainer3{
    display: flex;

    height: 85px;
    width: 100%;
    align-items: center;
    /* background-image: url('../images/5mm.png'); */
    background-position: center;
    background-color:var(--secondary_color);
    box-shadow: var(--border);
}







/* .experiencesShadow{
    background-image: linear-gradient(to right, rgb(12, 12, 12) , transparent);
    width: 100%;
    height: 85px;
    margin-top: -85px;
    position: relative;
    z-index: 0;
    margin-bottom: var(--midGap);
} */


/*-------------------------- FOCAL LENGTH DISPLAY --------------------------------*/



.focalContainer
{
    pointer-events:none;
    overflow: hidden;
    height: 800px;
    background-color: #191919;
    flex-wrap: wrap;

}

.focalImage
{
    display: none;  
    object-fit: cover;
    width: 100%;
    outline: none;
    border: none;
    height: 100%;
    
    
}

.infoShadow{
    transition: 0.25s ease;
    opacity: 0;
    width: 60%;
    height: 800px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);

   
    position: absolute;
}


.focalContainer:hover .infoShadow{
    opacity: 100%;
}


.blankingInfo{
    margin-top: 200px;
    font-weight: bolder;
    margin-left: var(--largeGap);
    color: var(--primary_color);
    font-size: 0.5rem;
}
.initialText{

    position: absolute;
    font-size: 0.5rem;
    align-self: center;
    justify-self: center;
    margin-top: 700px ;

    font-weight: bold;
    color: var(--primary_color);
    animation-duration: 3s;
    animation-name: initialText;

}




.dissappear{
    animation-duration: 1.5s;
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

/* .bottomBlanking:hover{

    height: 300px;
} */


.bottomBlanking
{
    background-color:var(--secondary_color);
    height: var(--blankingHeight);


    width: 100%;
    transition: 0.45s ease;
}



.infoPullOut{

    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 45px;
    display: flex;
    height: 55px;
    background-color: var(--primary_color);
    margin-bottom: -40px;
    border-radius: 25px;

    

}



.infoBtn{
    font-weight: 555;
    border: none;
    background-color: var(--primary_color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary_color);
}



/*-- ------------------------ REAL SLIDER ------------------------------------*/



.focalRing{
margin-top: 0px;
position: absolute;
background-image: linear-gradient(to top, rgb(45, 45, 45), rgb(28, 28, 28));
width: 100%;
height: 100px;


}

.detailContainer{
    display: flex;
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 100%


}


.detail01{
    display: flex;
    background-color:rgb(255, 242, 0);
    height: 100%;
    min-width: 15px;
    margin-left: 5px;
    background-image: linear-gradient(to left, rgb(31, 31, 31), rgb(48, 48, 48),  rgb(31, 31, 31));
    


}



.focalShadow{

    background-image: linear-gradient(to top, rgb(12, 12, 12) , transparent 65px,  rgb(19, 19, 19));
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
}


.focalRingButton{

    width: 100%;
    height: 115px;
    position: absolute;
    background-color: yellow;
    opacity: 0%;
}







/*-- ------------------------ SLIDER ------------------------------------*/
.sliderContainer
{
    /* background-color: rgb(155, 0, 0); */

    display: flex;
    box-sizing: border-box;     
    padding-left: calc(var(--largeGap) + 2px);
    padding-right: calc(var(--largeGap) + 2px);
    margin-bottom: 10px;
    margin-top: 110px;


}   


.slider
{   

    text-align: center;
    width: 100%;
    height: 25px;
    background: #F34444;


}







/*-------------------------- OPTIONS --------------------------------*/
.wrapper{

    height: 1200px;
    margin-bottom: -1105px;


}


.optionsBar{
    top: 70px;
    position: sticky;
    background-color: var(--primary_color);
    width: 100%;
    margin-top: var(--midGap);
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 10px rgb(149, 149, 149);


}

.options
{
    
    justify-self: center;
    margin-left: var(--largeGap);
    margin-right: var(--largeGap);
    display: flex;
  

    
    margin-bottom: 0px;

}


.currentFocalLength{
    display: flex;
    font-size: 1.75rem; 
    font-weight: bold;
    background-color: var(--accent_color);
    padding-left: var(--smallGap);
    padding-right: var(--smallGap);
    justify-self: center;
    color: var(--primary_color);



    

}


.filtersContainer{
    margin-left: var(--smallGap);
    position: relative;

}



.filter{
    text-transform: uppercase;
    border: var(--border);
  
    font-size: 0.3rem;
    margin-top: var(--smallGap);
    padding: 5px;
    height: 15px;
    background-color:var(--primary_color);
    align-content: center;
    font-weight: 555;
    width: 405px;
}   




.yearSiteBlur{
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 8;
display: none;

}

.yearSiteShadow{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    opacity: 55%    ;
    z-index: 8;
    display: none;


}

.yearDisplay{
    position: fixed;
    z-index: 9;

    width: 50vw;
    display: none;
    justify-self: center;
    justify-items: center;
   
}




.yearTitle{
    color: var(--primary_color);
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    font-weight: bolder;
    font-size: 2rem;
    transition: 1s ease;
    text-transform: uppercase;
}

.yearRangeDisplay{
    color: var(--primary_color);
    display: flex;
    justify-content: center;
    font-weight: bolder;
    letter-spacing: 1rem;

    font-size: 0.4rem;
    transition: 1s ease;
    text-transform: uppercase;
   
}




.timeline{
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;   
    width: 100%;
    margin-top: var(--largeGap);
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    overscroll-behavior: contain;


}



.timeline li{
   
    font-size: 0.5rem;
    padding: 5px;
    font-weight: 555 ;
    letter-spacing: -0.05rem;
    color: var(--primary_color);




}

.timelineDetail{
   
    width: 100%;
    height: 3px;
    background-color: var(--primary_color);
    list-style: none;
    display: flex;
   
}

.deepYearDetail{
    height: 29px;
    width: 3px;
    background-color: var(--primary_color);
    justify-self: center;
    
}





.infoContainer{
    width: 55%;
    height: 50px;
    margin-top: -110px;
    position: flex;
    justify-self: center;
    background-color: var(--secondary_color);
    border-radius: 25px;
    padding:15px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 25px;
    z-index: 9;
}




/*--------------------------STILL GALLERY --------------------------------*/








.stillList{

    display: grid;
    width: var(--gridWidth);
    gap: var(--midGap);
    justify-self: center;
    
    grid-template-columns: repeat(3, 1fr);

}
.stillList li{
    transition: 0.25s ease;


}

.stillGenre{
    font-size: 0.3rem;
    letter-spacing: normal;
    margin-top: var(--midGap);
    opacity: 35%;
}

.stillTitle{
    font-weight: bolder;
}



.stillList li:hover{
    transform: scale(1.15);
  
}


.stillTopBar:hover{
    height: 170px;
}

.stillTopBar:hover .stillBottomBar{
    height: 170px;

}







/* .stillTopBar:hover .rightText{

    animation-name: fadeOut;
    animation-fill-mode: forwards;
} */


.stillDetail{
    width: 100%;
    height: 15px;
    background-color: var(--secondary_color);
    border: var(--border);

}



.stillTopBar:hover .rightText li{
    opacity: 100%;

}


.stillTopBar:hover .stillInfoDetail{
    opacity: 100%;
}

.stillList li:hover .stillTopBar{
    background-color: var(--secondary_color);
}

.stillList li:hover .stillBottomBar{
    background-color: var(--secondary_color);
}

.stillList li:hover .leftText{
    color: var(--primary_color);
}

.stillList li:hover .rightText{
    color: var(--primary_color);
}

.stillList li:hover .stillInfo li{
    color: var(--primary_color);
}

/* 
.stillTopBar:hover .stillImage{
    height: 500px;

} */



.stillContainer{
    display: block;
    width: 100%
}


.revealedText{
    width: 100%;
    list-style-type: none;
    text-transform: uppercase;

    color: var(--primary_color);
    opacity: 0%;
    display: none;
    margin-right: var(--smallGap);
    text-align: center;
    justify-content: center;
    transition: 0.2s ease;
    font-size: 0.35rem; 
    letter-spacing: 0.25rem;

}



.revealedImage{
    position: absolute;
    width: 80vw;
    height: 80vh;
    z-index: 3;
}


.stillTopBar{
    display: flex;
    transition: 0.75s ease;
    width: 100%;
    height: 75px;
    background-color: var(--primary_color);
    border: var(--border);
    align-items: baseline;
    overflow: hidden;
  

}



.stillBottomBar{
    transition: 0.75s ease;
    width: 100%;
    height: 50px;   
    background-color: var(--primary_color);
    border: var(--border);
    border-style: solid;
}

.stillImage{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    height: 250px;
    border: var(--border);
    border-style: solid;
    
}


.stillInfo{
    width: 100%;
}

.stillInfo li{
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--secondary_color);
    font-size: 0.4rem;
    list-style: none;
    transition: 0.25s ease;
}




.leftText{
    display: flex;

    margin-top: 47px;
    width: 50%;
    margin-left: var(--midGap);


}


.rightText{
    display: flex;
    margin-top: 45px;
    width: 50%;
    margin-right: var(--midGap);
    flex: 1 0 50%;
    text-align: right;

}

.rightText li{

    opacity: 0;
    font-weight: 100;
    
}



.stillInfoDetail{
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary_color);
    margin-top: var(--smallGap);
    transition: 0.25s ease;
    margin-bottom: var(--smallGap);
}


.fullImgViewReturn:hover{
    transform: scale(1.5);
}



.fullImgViewContainer{

    display: none;
    width: 85vw;
    height: 75vh;
    position: fixed;
    margin-top: 10vh;
    justify-self: center;
    z-index: 7;

}


.fullImgView{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit:cover;
    background-color: var(--primary_color)   ;
    border: var(--border);
    border-style: solid;
    
} 
.siteShadow{
    display: none;

    width: 100%;    
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    justify-self: center;
    z-index: 6;
    opacity: 100%;
    transition: 0.25s ease;
}









/*--------------------------FOR TESTING --------------------------------*/





.test{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.testParagraph{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/*-- ------------------------ RESPONSIVE ------------------------------------*/










@media (max-width: 1250px) {


.stillList{


    grid-template-columns: repeat(2, 1fr);

}

.focalContainer{
    height: 430px;
}

.infoShadow{
    width: 100%;
    height: 430px;

}
.smallText{
    font-size: 20px;
}
.filter{
    width: 290px
}


}